*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


.container{
    height: 100vh;
    width: 100vw;
     /* margin-left: 100px; */
    display: grid;
    place-items: center;
    box-shadow: 12px 12px 20px #6b5f6b,
                -12px -12px 20px #959294;
}



.calculator{
    position:relative;
    height: 95vh;
    width: 57vh;
    /* box-sizing: border-box; */
    /* margin: 10px 10px; */
    padding: 20px;
    box-shadow: 0 0 30px #000000;
}


.display #screen{
    width: 97%;
    height: 100px;
    font-size: 35px;
    outline: none;
    border: none;
    padding-right:.4em ;
    text-align: right;
    background: #ecf0f3;
    border-radius:30%;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #e5e0e0;  
    
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

.button{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom:8px;
    height: 40vh;
    margin-bottom: 700px;
    /* padding-top: -700px; */
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-items: center;
    padding: 10px 0; */
}
button{
   height: 60px;
   width: 60px; 
   border-radius: 30px;
   margin: 5px;
   font-size: 20px; 
   border: none;
   cursor: pointer;
   transition: all 200ms ease;
   box-shadow: 5px 5px 8px rgb(57,54,54),
               -5px -5px 8px #ffffff;
}

button:hover{
   transform: scale(1.15);
   /* background:red ; */
   background: rgb(165,84,165);
}
#clear{
    background-color: rgb(223, 183, 35);
}
#clear:hover{
    background-color: rgb(165,84,165);
}

#clear-all{
    background-color:#da2a2ae3;
}
#clear-all:hover{
    background-color: rgb(165,84,165); 
}

#equals{
    background-color: aqua;
}
#equals:hover{
    background-color: rgb(165,84,165);
}

.calculator{
   background-color: #fff;
}
.btn-number{
   background-color:white;
}
.btn-operator{
   background-color: white;
}
.btn-number:hover{
    background-color: rgb(165,84,165);
}
.btn-operator:hover{
    background-color: rgb(165,84,165);
}